<html>
<body>
<h1>Create Event</h1>
<form action="/actions/calendar/create" method="post" enctype='application/json'>
    <div>
        <label for="name">Title:</label>
        <input type="text" id="name" name="title" value="{{title}}"><br><br>
    </div>
    <br><br/>
    <div>
        <label for="attendees" style="vertical-align:top">Attendees:</label>
        <textarea id="attendees" rows="4" cols="50" name="attendees">{{attendees}}</textarea>
    </div>
    <div>
        <label for="mbody" style="vertical-align:top">Mail Body:</label>
        <textarea id="mbody" rows="4" cols="50" name="mbody">{{mbody}}</textarea>
    </div>

    <br><br/>
    <div>
        <label for="start_date">Start Date / Time:</label>
        <input type="datetime" id="start_date" name="start_date" value="{{start_date_time_tz}}" >
    </div>
    <br><br/>
    <div>
        <label for="end_date">End Date / Time:</label>
        <input type="datetime" id="end_date" name="end_date" value="{{end_date_time_tz}}" >
    </div>
    <br><br/>
    <input type="hidden" id="event_params" value="{{event_params}}" name="params">
    <input type="submit" value="Create">
</form>
</body>
</html>
