<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personalize Alt-Jinie for smart notifications | Peoplestrong</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
<div class="form-inline" style="padding:10px;">
    <p>
    <h3>{{ ack_text }}</h3></p>
    <p>Your response has been recorded. You can now close the window and go back to using Zippi.</p>
</div>
</body>
</html>
