<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personalize Alt-Jinie for smart notifications | Peoplestrong</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
<form class="form-inline" style="padding:10px;" action="/poc_form_onsubmit?user_id={{ user_id }}" method="post">
    <div>
        <img src="https://ruxkhjjuq0.execute-api.ap-south-1.amazonaws.com/production/static/orgid-all/bus_routes.png" width="90%"/>
    </div>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref1"><h3>Select Bus Route</h3></label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref1" name="inlineFormCustomSelectPref1">
        <option selected>Choose...</option>
        <option value="1">Route 1</option>
        <option value="2">Route 2</option>
        <option value="3">Route 3</option>
    </select>

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref2"><h3>Select Boarding Point</h3></label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2" name="inlineFormCustomSelectPref2">
        <option selected>Choose...</option>
        <option value="1">Boarding Point 1</option>
        <option value="2">Boarding Point 2</option>
        <option value="3">Boarding Point 3</option>
    </select>

    <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>
</body>
</html>
