<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personalize Alt-Jinie for smart notifications | Peoplestrong</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
<div class="container center_div" style="padding-top: 15px">
    <div class="clearfix">
        <img class="float-left" src="/static/images/jinie.png" alt="Peoplestrong Alt Jinie - AI Chatbot"/>
        <div class="content-heading"><h3>{{ !approval_email_action }}</h3></div>
        <p>{{ !approval_text }}</p>
    </div>
    <form style="padding-top: 15px" action="altMessenger://">
        <button type="submit" class="btn btn-primary">GO BACK TO USING ZIPPI :)</button>
    </form>
</div>
</body>
</html>
