<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jinie will be at your service soon | Peoplestrong </title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
<div class="container center_div" style="padding-top: 15px">
    <div class="clearfix">
        <img class="float-left" src="/static/images/jinie.png" alt="Peoplestrong Alt Jinie - AI Chatbot"/>
        <div class="content-heading"><h3>Hello, {{ name }}</h3></div>
    </div>
    <p>You have now successfully linked your Google Account.</p>
    <p> This is how you can now create Google meetings on Zippi:</p>
    <p>
        <video controls autoplay muted loop style="width: 35%;">
            <source src="/static/videos/google_meeting_start.mp4" type="video/mp4">
        </video>
    </p>
    <a href="https://itunes.apple.com/in/app/alt-messenger/id1215637484" target="_blank"><img
            src="https://zippi.co/wp-content/uploads/2020/02/app-store.png"></a>
    <a href="https://play.google.com/store/apps/details?id=com.distribution.altmessenger" target="_blank"><img
            src="https://zippi.co/wp-content/uploads/2020/02/googleplay.png"></a>
</div>
</body>
</html>
