<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personalize Alt-Jinie for smart notifications | Peoplestrong</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
<div class="container center_div" style="padding-top: 15px">
    <div class="clearfix">
        <img class="float-left" src="/static/images/jinie.png" alt="Peoplestrong Alt Jinie - AI Chatbot"/>
        <div class="content-heading"><h3> Make Jinie your productivity assistant</h3></div>
    </div>
    <div class="clearfix">
        <form style="padding-top: 15px" action="/google/login?user_id={{ user_id }}" h3 role="form" method="post">
            <button type="submit" class="btn btn-primary">Link my Google Account</button>
        </form>
    </div>
    <br/>
    <div class="clearfix">
        <p>Now you can use Jinie to create meetings on Google. Here's how:</p>
        <p>
            <video controls autoplay muted loop style="width: 35%;">
                <source src="/static/videos/google_meeting_signup.mp4" type="video/mp4">
            </video>
        </p>
        <p>Please be advised that our app is currently under verification from Google.</p>
        <p>After you link our app with your Google account, you'll be able to create meetings. Zippi will use your data
            from Google to create meetings on your behalf and read meeting details to help you stay productive.</p>
    </div>
</div>
</body>
</html>
