<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorry! looks like you are not using Alt Messenger | Peoplestrong </title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>
<div class="container center_div" style="padding-top: 15px">
    <div class="clearfix">
        <img class="float-left" src="/static/images/jinie.png" alt="Peoplestrong Alt Jinie - AI Chatbot"/>
        <div class="content-heading"><h3>Dear{{ name }}</h3></div>
    </div>
    <p>Although I was able to authenticate you successfully but it seems like you are not using Zippi. Please download &
        login to the Zippi app first and then try again. In case the issue is not resolved, you can drop an email to <a
                href="mailto:support@zippi.co?Subject=Email%20Integration%20User%20Issue" , target="_top">Zippi Team</a>.
    </p>
    <a href="https://itunes.apple.com/in/app/alt-messenger/id1215637484" target="_blank"><img
            src="https://zippi.co/wp-content/uploads/2020/02/app-store.png"></a>
    <a href="https://play.google.com/store/apps/details?id=com.distribution.altmessenger" target="_blank"><img
            src="https://zippi.co/wp-content/uploads/2020/02/googleplay.png"></a>
</div>
</body>
</html>