<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

select, input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 10%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>

<h2>Link Zoho meeting Form</h2>

<form action="/zoho/link_account" method="post">
  <div class="imgcontainer">
    <img src="https://daas.peoplestrong.com/static/images/jinie.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
        <input type="hidden" name="user_id" value= {{ user_id }} required>
   <label for="uname"><b>Username/EmailId</b></label>
    <input type="text" placeholder="Enter Zoho username or Email ID" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Zoho Password" name="password" required>

    <button type="submit">Login</button>

  </div>


</form>

</body>
</html>
